@charset "UTF-8";

@media screen and (min-width: 490px) {
    
    body {
        background-color: #ecf0f1
    }

    .container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    /* CONTEÚDO */
    .conteudo {
        border-radius: 10px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.459);
        background-color: white;
    }

    /* FORMULÁRIOS */
    .conteudo__formularios {
        width: 490px;
    }
    
    /* BOX COM FORMULÁRIO */
    .conteudo__box {
        height: auto;
        padding: 2.5rem;
        border-radius: 10px;
        transition: transform 0.8s;
    }
    
    /* LOGIN */
    .conteudo__login {
        background-color: white;
    }

}

@media screen and (min-width: 768px) {
    
    /* CONTEÚDO */
    .conteudo {
        width: 768px;
    }

    /* FORMULÁRIOS */
    .conteudo__formularios {
        width: 100%;
    }

    /* BOX COM FORMULÁRIO */
    .conteudo__box {
        width: 50%;
    }

    /* CADASTRO */
    .conteudo__cadastro {
        border-radius: 0px;
        background-color: white;
        z-index: 1;
        opacity: 1;
    }

    .conteudo__cadastro h2 {
        color: #58af9b;
    }
    
    .conteudo__cadastro .redesSociais__icone {
        color: #95a5a6;
        border: 1px solid #95a5a6;
    }

    .conteudo__cadastro .redesSociais__icone:hover {
        color: white;
    }
    
    .conteudo__cadastro input:focus-visible, input:hover {
        outline: 2px solid #58af9b;
    }
    
    .conteudo__cadastro p {
        color: #7f8c8d;
    }
    
    .conteudo__cadastro button {
        background-color: #58af9b;
        border: 2px solid white;
    }

}