/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* CORPO */
body {
    font-family: 'Open Sans', sans-serif;
}

/* CONTAINER */
.container {}

/* CONTEÚDO */
.conteudo {}

/* FORMULÁRIOS */
.conteudo__formularios {}

/* ÁREA LOGIN */
.conteudo__login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.38rem;
    gap: 2rem;
}

.conteudo__formularios h2 {
    font-size: 1.7em;
    color: #58af9b;
}

/* REDES SOCIAIS */
.conteudo__redesSociais {
    display: flex;
    gap: 1rem;
}

.redesSociais__icone {
    color: #95a5a6;
    border-radius: 50%;
    border: 1px solid #95a5a6;
    width: 37px;
    height: 37px;
    text-align: center;
    font-size: 1.1em;
    padding-top: 0.3rem;
    transition: 0.5s;
}

.redesSociais__icone:hover {
    background-color: #58af9b;
    color: white;
    transform: scale(1.1) translateY(-4px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.363);
}

.redesSociais__icone i {}

.conteudo__formularios p {}

/* FORMULÁRIO */
.conteudo__formularioLogin {}

.conteudo__formulario {}

.conteudo__inputBox {}

.conteudo__inputBox label i {}

.conteudo__inputBox input {}

.conteudo__formulario a {}

.conteudo__formulario button {}

/* ÁREA CADASTRO */
.conteudo__cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 2rem;
}

.conteudo__formularioCadastro {}

/* OVERLAYS */
.conteudo__overlays {}

.conteudo__overlays .overlay {}

.conteudo__overlays h2 {}

.overlay__botao {}