@charset "UTF-8";

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COPO */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f1;
    height: 100vh;
    overflow-x: hidden;
}

/* CONTEÚDO */
.container {}

.conteudo {}

/* ÁREA DE LOGIN E LEGENDA LOGIN */
.conteudo__login-legendaLogin {}

/* ÁREA LOGIN */
.conteudo__login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    position: absolute;
    transition: .5s;
    top: 0;
    left: 0;
}

.conteudo__login.mover {
    left: -100%;
}

.conteudo__login h2 {
    color: #58af9b;
    font-size: 1.61em;
    margin-bottom: 1rem;
}

.conteudo__iconesRedesSociais {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.iconesRedesSociais__icone {
    display: block;
    color: #95a5a6;
    width: 40px;
    height: 40px;
    border: 1px solid #bdc3c7;
    padding: 0.3rem;
    border-radius: 50%;
    font-size: 1.2em;
    text-align: center;
    transform: scale(1);
    transition: .4s;
}

.iconesRedesSociais__icone:hover {
    background-color: #58af9b;
    color: white;
    transform: scale(1.1);
}

.iconesRedesSociais__icone i {}

.conteudo__login p {
    color: #7f8c8d;
    margin-bottom: 1.2rem;
}

/* FORMULÁRIO DE LOGIN */
.conteudo__formulario {
    width: 100%;
    text-align: center;
}

.conteudo__caixaInput {
    position: relative;
}

.conteudo__caixaInput label {
    position: absolute;
    top: 0.7rem;
    left: 0.6rem;
    font-size: 1.2em;
    color: #7f8c8d;
}

.conteudo__caixaInput label i {}

.conteudo__caixaInput input {
    background-color: #ecf0f1;
    margin-bottom: 1.5rem;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 0.9em;
    outline: none;
    color: #505656;
}

.conteudo__caixaInput input:focus-visible, input:hover {
    outline: 2px solid #58af9b;
}

/* ESQUECEU A SENHA */
.conteudo__esqueceuSenha {
    color: #34495e;
    margin-bottom: 1rem;
    display: block;
    font-weight: 500;
    text-decoration: none;
}

.conteudo__esqueceuSenha:hover {
    text-decoration: underline;
}

.conteudo__formulario p {
    margin-bottom: 2rem;
}

.conteudo__formulario p a {
    color: #34495e;
    margin-bottom: 1rem;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;

}
.conteudo__formulario p a:hover {
    text-decoration: underline;
}

/* BOTÃO DE ENTRAR */
.conteudo__boxBotao {}

.conteudo__btnEntrar {
    background-color: #58af9b;
    border: none;
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: .5s;
}

.conteudo__btnEntrar:hover {
    background-color: #3a7265;
}

/* LEGENDA LOGIN */
.conteudo__LegendaLogin {
    display: none;
}

.conteudo__LegendaLogin h2 {}

.conteudo__LegendaLogin p {}

/* LEGENDA CRIAR CONTA E ÁREA DE CRIAR CONTA */
.conteudo__criarConta-legendaLogin {}

/* LEGENDA CRIAR CONTA */
.conteudo__LegendaCriarConta {
    display: none;
}

.conteudo__LegendaCriarConta h2 {}

.conteudo__LegendaCriarConta p {}

/* ÁREA CRIAR CONTA */
.conteudo__criarConta {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    position: absolute;
    height: 100vh;
    top: 0;
    right: -100%;
    width: 100%;
    transition: .5s;
}

.conteudo__criarConta.mover {
    right: 0;
}

.conteudo__criarConta h2 {
    color: #58af9b;
    font-size: 1.61em;
    margin-bottom: 1rem;
}

.conteudo__criarConta p {
    color: #7f8c8d;
    margin-bottom: 1.2rem;
}

/* CLASSE ATIVADA COM JAVASCRIPT */
/* #login.mover {
    right: 0;
}

#register.mover {
    right: 0;
}  */

.conteudo__formularioCriarConta {}

.conteudo__formularioCriarConta p {}